<IfModule mod_rewrite.c>
  Options -Multiviews +FollowSymLinks
  RewriteEngine On
  RewriteBase /vizsgaphp/forum/public
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>